<div id="main-container">
	<div class="main-content">
		<h1>OTFC</h1>
		<em>Elite & pro football cleats</em>
		<h3 class="coming-soon">Coming Soon ...</h3>
		<p>for any enquiries please contact us: <br>
			<br>
			Email - <a href="">ot.footballcleats@gmail.com</a>
			<br>
			<br>
			Phone & Whatsapp - <span>+201020703080</span>
			<br>
			<br>
			Address - <span>29 Abd el Hamid Badawy St. Al Nozha. Postal code : 11351</span>
		</p>
		<ul class="social">
			<li class="social-facebook">
				<a href="">
					<i class="ion-social-facebook-outline"></i>
				</a>
			</li>
			<li class="social-instagram">
				<a href="https://www.instagram.com/ot.footballcleats/" target="_blank">
					<i class="ion-social-instagram-outline"></i>
				</a>
			</li>
		</ul>
	</div>
</div>